@font-face {
    font-family: "New Sun PlayFul";
    src: url("./fonts/New Sun Regular.woff2") format('woff2');
    font-weight: normal; 
    font-style: normal;
}

body {
    font-family: "New Sun PlayFul", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #c1bedf;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   /* ==============================
      ESTILIZAÇÃO DA PÁGINA INICIAL
   ============================== */

.headerHome{
    display: flex;
    align-items:center;
    width: 100%;
    gap:60%;
}

.headerHome h1{
    color: #6f41a5;
    margin-left: 50px;
}

.btn-menu{
    background-color: #c1bedf;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-menu:hover{
    transform: scale(1.05);
}

.btn-menu img {
    width: 30px;
    height: 30px;
}

.containerAll{
    width: 95%;
    background-color: #fccede;
    display: flex;
    gap: 30px;
    border-radius: 30px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/* ESTILIZAÇÃO DO CALENDÁRIO */

#calendar {
    width: 70%;
    margin-right: 23px;
    box-shadow: 6px 6px 0px #333;
    border-radius: 15px;
}

/* HEADER DO CALENDÁRIO */

.headerCalendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f37da3;
    color:  white;
    font-size: 30px;
    border-radius: 10px 10PX 0 0; 
    border: 3px solid #333;
    border-bottom: none ;
}

.headerCalendar button {
    background: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
    border: none;
    transition: transform 0.3s;
}

.headerCalendar button:hover {
    transform: scale(1.5);
}

/* DIAS DA SEMANA */

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
      padding-bottom: 0;
    text-align: center;
    color: white;
    background-color:  #f37da3;
    border-left: 3px solid #333;
    border-right: 3px solid #333;
}

.weekdays div {
    font-size: 20px;
    border: 3px solid #333;
    border-left:none;
    padding: 10px;
}

#divSaturday{
    border-right:none;
}

/* DIAS */

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    color: black;;
    border-radius: 0 0 10px 10px;
    background-color: #FFE7B6;
    border: 3px solid #333;
    border-top: none;
}

#days div {
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #333;
    transition: 0.3s;
}

#days div:hover {
    color: #f37da3;
    transform: scale(1.1);
}

#days div.active {
    background-color: #f37da3;
    color: #fff;
}

#days div:empty {
    visibility: hidden;
}

/* ESTILIZAÇÃO DA JANELA */

/* Container da janela */
.window {
    width: 30%;
    margin-top: 23,5px;
    margin-bottom: 23,5px;
    margin-left: 23px;
    border-radius: 12px;
    background: #ffffff;
    position: relative;
    border: 3px solid #333;
    box-shadow: 6px 6px 0px #333;
}

/* Barra superior */
.window-top {
    width: 100%;
    height: 40px;
    background: #f37da3;
    border-bottom: 3px solid #333;
    border-radius: 10px 10px 0 0;
    position: relative;
}

/* Três botões da barra */
.buttons {
    position: absolute;
    right: 15px;
    top: 10px;
}

.buttons span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #6f41a5;
    border-radius: 50%;
    margin-left: 6px;
    border: 3px solid #333;
}

/* Parte interna branca */
.window-body {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

/* Estrelinhas */
.stars {
    width: 18px;
    height: 18px;
    background: #ffe7b6;
    border: 3px solid #333;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 3px;
}

/* Estrelinhas nas posições iguais à imagem */
.star1 {
    top: 8px;
    left: -12px;
}

.star2 {
    bottom: 10px;
    right: 9px;
}

