<div class="calendar">
    {{!-- PARTE SUPERIOR DO CALENDÁRIO --}}
    <div class="header">
        <button class="prevMonth">&lt;</button>
        <div class="monthYear"></div>
        <button class="nextMonth">&gt;</button>
    </div>
    {{!-- DIAS DA SEMANA --}}
    <div class="weekdays">
        <div>Dom</div>
        <div>Seg</div>
        <div>Ter</div>
        <div>Qua</div>
        <div>Qui</div>
        <div>Sex</div>
        <div>Sáb</div>
    </div>

    <div id="days"></div>

    <script src="../public/script.js"></script>

</div>