{{!-- PÁGINA PRINCIPAL --}}

<header class="homeHeader">
    <h1>NEM TODOS OS DIAS, MAS MEU QUERIDO DIÁRIO</h1>
    <button class="togle"><img src="/icons/bar.png" alt=""></button>
</header>

<div class="mainContainer">

    {{!-- EMOÇÕES --}}

<div class="emotions">
<h2>COMO VOCÊ ESTÁ HOJE?</h2>
    <div class="emojis">
        <button class="emojiEmotion">
            <h3>FELIZ</h3>
            <img src="/images/happy.png" alt="">
        </button>
         <button class="emojiEmotion">
            <h3>ENTEDIADO(A)</h3>
            <img src="/images/boredom.png" alt="">
        </button>
         <button class="emojiEmotion">
             <h3>TRISTE</h3>
            <img src="/images/sad.png" alt="">
        </button>
    </div>

    {{!-- JANELA DE MENSAGENS --}}

    <div class="window">
        <div class="windowHeader">
            <div class="stars star1"></div>
            <div class="balls">
                <span></span><span></span><span></span>
            </div>
        </div>

        <div class="windowMenssage">
            <p id="menssage"></p>
            <div class="stars star2"></div>
        </div>
    </div>
</div>

    {{!-- CALENDÁRIO --}}

    <div class="calendar">
        <div class="calendarHeader">
            <button id="prevMonth">&lt;</button>
            <div id="monthYear"></div>
            <button id="nextMonth">&gt;</button>
        </div>

        <div class="weekdays">
            <div>Dom</div>
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div id="divSaturday">Sáb</div>
        </div>
        <div id="days"></div>
    </div>

</div>